body{
    background-color: white
}

input{
    max-width: 90%;
    height: 2em;
}

form {
    width: 90%;
    margin-bottom: 10px;
}
#icon{
    height: 50px;
    width: auto;
    margin-top: .5em;
}

button{
    height: 2.3em;
    width: 3em;
    background-color: #598fa5 ;
    border-radius: 5px;
    border: 0px;
}

.sidebar {
    background: #e6e2e2;
    height: 100vh;
}
.sidebar *{
    margin-left: 5px;
}


.currentWeather h1,span{
    margin: 10px 5px;
    
}
.currentWeather p{
    margin-left: 30px
    
}
.main *{
    margin-left: 5px;
}
.title{
    display: flex;
    flex-wrap: wrap;
}

.city-bucket{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.city {
    max-width: 20em;
    background: white;
    width: 90%;
    display: flex;
    border: 1px solid #e6e2e2;
    border-radius: 5px;
    justify-content: center;
}

.card-bucket{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    padding: 1em;
    margin-top: 10px;
    background: #598fa5;
    border-radius: 5px;
}

.low{
    background-color:lightblue;
}
.moderate {
    background-color: yellow;
}
.high {
    background-color: orange;
}
.very-high {
    background-color: red;
}
.extreme{
    background-color: purple;
}

@media only screen and (max-width: 1024px ){
    .sidebar {
        background: #e6e2e2;
        height:100%;
        width: 100%
    }
    .city-bucket{
        justify-content: center;
    }
}